<header class="docs-Masthead">
  <div class="Container Container--slim">
    <h1 class="docs-Masthead-title">{{ file.meta.title }}</h1>
    <h2 class="docs-Masthead-lead">{{ file.meta.description }}</h2>
  </div>
</header>
