<header class="docs-Masthead">
  <div class="Container Container--slim">
    <h1 class="docs-Masthead-title">Sircus</h1>
    <h2 class="docs-Masthead-lead">{{ site.description }}</h2>
    <p class="t-mb-mn">
      <a href="https://github.com/sircus">Work in Progress</a>
    </p>
    <p class="docs-Masthead-author">Created by <i class="icon-blivesta"></i> <a href="http://blivesta.com">blivesta</a></p>
    <p>
      <a href="https://github.com/sircus/sircus" class="Button Button--border Button--primary">Download on GitHub</a>
    </p>
  </div>
</header>
