---
title: hello
description: hello
layout: page
github: http://github.com/
---

{{#extend "page"}}
	{{#content "content"}}

<div class="Container Container--slim">

<h1>hello!</h1>

<p>{{file.data.name}}</p>
<p><a href="{{file.meta.github}}">GitHub</a></p>

</div>

	{{/content}}
{{/extend}}
