{{> include/head}}

<body class="docs-Home">

{{> include/header}}

<main role="main">
  <div class="docs-Main Container Container--slim t-gutter">
    {{{block "content"}}}
  </div>
</main>

{{> include/footer}}
</body>
</html>
