.docs-Footer {
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: var(--docs-footer-bgcolor);
}
.docs-Footer a:link {
  font-size: 13px;
  text-decoration: underline;
  color: #6c7b88;
}
.docs-Footer a:matches(:hover,:focus,:active ) {
  text-decoration: none;
  color: #4a545d;
}
