---
title: sircus web
description: Moduler CSS For People Who Make Web Together.
layout: home
---
{{#extend "home"}}
	{{#content "content"}}

<div class="Container Container--slim">

{{pkg.object}}
<p>
	pkg name : {{pkg.name}}
</p>
<p>
	site title : {{site.title}}
</p>
<p>
	sircus published : {{sircus.published}}
</p>

{{#markdown}}
```
<!DOCTYPE html>
<title>Title</title>

<style>body {width: 500px;}</style>

<script type="application/javascript">
  function $init() {return true;}
</script>

<body>
  <p checked class="title" id='title'>Title</p>
  <!-- here goes the rest of the page -->
</body>
```
{{/markdown}}

{{#markdown}}

## CSS

``` css
/* custom properties */
:root {
--fontSize: 1rem;
--mainColor: #12345678;
--highlightColor: hwb(190, 35%, 20%);
}

/* custom media queries */
@custom-media --viewport-medium (width <= 50rem);

/* some var() & calc() */
body {
color: var(--mainColor);

font-size: var(--fontSize);
line-height: calc(var(--fontSize) * 1.5);
padding: calc((var(--fontSize) / 2) + 1px);
}

/* custom media query usage */
@media (--viewport-medium) {
body { font-size: calc(var(--fontSize) * 1.2); }
}

```
{{/markdown}}

{{#markdown}}

## javascript

``` javascript
import {x, y} as p from 'point';
const ANSWER = 42;

class Car extends Vehicle {
  constructor(speed, cost) {
    super(speed);

    var c = Symbol('cost');
    this[c] = cost;

    this.intro = `This is a car runs at
      ${speed}.`;
  }
}

for (let num of [1, 2, 3]) {
  console.log(num + 0b111110111);
}

function $initHighlight(block, flags) {
  try {
    if (block.className.search(/\bno\-highlight\b/) != -1)
      return processBlock(block.function, true, 0x0F) + ' class=""';
  } catch (e) {
    /* handle exception */
    var e4x =
        <div>Example
            <p>1234</p></div>;
  }
  for (var i = 0 / 2; i < classes.length; i++) { // "0 / 2" should not be parsed as regexp
    if (checkCondition(classes[i]) === undefined)
      return /\d+[\s/]/g;
  }
  console.log(Array.every(classes, Boolean));
}

export  $initHighlight;
```
{{/markdown}}
</div>

	<main role="main">

	  <section class="docs-Section">
	    <div class="Container Container--slim">
	      <span class="docs-Section-num">00</span>
	      <h1 class="t-mt-00">Introduction</h1>
	      <hr class="docs-hr">
	      <p class="H4">Under construction...</p>
	    </div>　
	  </section>

	  <section class="docs-Section">
	    <div class="Container Container--slim">
	      <span class="docs-Section-num">01</span>
	      <h1 class="t-mt-00">Modules</h1>
	      <hr class="docs-hr">

	      <h2 class="t-mt-00 t-mb-00">Global</h2>
	      <ul class="ListInline">
	        <li><h4>Property</h4></li>
	      </ul>

	      <h2 class="t-mt-00 t-mb-00">Elements</h2>
	      <ul class="ListInline">
	        <li><h4>body</h4></li>
	        <li><h4>heading</h4></li>
	        <li><h4>image</h4></li>
	        <li><h4>link</h4></li>
	        <li><h4>list</h4></li>
	        <li><h4>paragraph</h4></li>
	        <li><h4>space</h4></li>
	      </ul>

	      <h2 class="t-mt-00 t-mb-00">Components</h2>
	      <ul class="ListInline">
	        <li><h4>Button</h4></li>
	        <li><h4>Container</h4></li>
	        <li><h4>FullEmbed</h4></li>
	        <li><h4>From</h4></li>
	        <li><h4>Grid</h4></li>
	        <li><h4>List</h4></li>
	        <li><h4>Table</h4></li>
	      </ul>

	      <h2 class="t-mt-00 t-mb-00">Tools</h2>
	      <ul class="ListInline t-lh-sm">
	        <li><h4>align</h4></li>
	        <li><h4>clear</h4></li>
	        <li><h4>display</h4></li>
	        <li><h4>gutter</h4></li>
	        <li><h4>layout</h4></li>
	        <li><h4>overflow</h4></li>
	        <li><h4>space</h4></li>
	        <li><h4>typo</h4></li>
	        <li><h4>width</h4></li>
	      </ul>

	    </div>　
	  </section>

	  <section class="docs-Section">
	    <div class="Container Container--slim">
	      <span class="docs-Section-num">02</span>
	      <h1 class="t-mt-00">Browser support</h1>
	      <hr class="docs-hr">
	      <p class="H4">Under construction...</p>
	    </div>　
	  </section>

	  <section class="docs-Section">
	    <div class="Container Container--slim">
	      <span class="docs-Section-num">03</span>
	      <h1 class="t-mt-00">Installation</h1>
	      <hr class="docs-hr">
	      <p class="H4">Under construction...</p>
	    </div>　
	  </section>

	  <section class="docs-Section">
	    <div class="Container Container--slim">
	      <span class="docs-Section-num">04</span>
	      <h1 class="t-mt-00">Demo</h1>
	      <hr class="docs-hr">
	      <p class="H4">Under construction...</p>
	    </div>　
	  </section>

	</main>

	{{/content}}
{{/extend}}
