---
title: without layout test
description: without layout test
---

{{> include/head}}
<div class="Container Container--slim">
<h1>using parials everywhere</h1>
</div>

{{> include/footer}}
